* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: row;
}
.content {
  width: 70%;
  position: relative;
  left: 22%;
}

.sidebar {
  position: fixed;
  width: 20%;
  overflow: scroll;
  min-width: 200px;
  height: 100vh;
  overflow-x: hidden;
  background-color: #1b1c1d;
  display: flex;
  z-index: 5000;
  flex-direction: column;
  transform: translateX(-100%);
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar::-webkit-scrollbar {
  width: 10px;
}
.sidebar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.app-nav-header{
  padding: 0.3em 1.33333333em;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}
.sidebar .header {
  padding: 0.5em 1.33333333em;
  color: white;
  text-decoration: none;
}
.sidebar .item {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);

  font-size: 0.85714286em;
  padding: 0.4em 1.33333333em;
}

.sidebar .bold {
  color: white;
}

hr {
  border: none;
  outline: none;
  opacity: 0.5;
  height: 0.1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.component {
  margin: 5rem 0 5rem 5rem;
  
}
.component .header {
}
.component .header .name {
}

.component .header .description {
  margin-top: 1rem;
}

.component .border-margin {
  border-top: 1px solid #e0e1e2;
  width: 90%;
  margin: 2rem 0.5rem;
}
.component .border {
  border-top: 1px solid #e0e1e2;
  width: 90%;
  margin: 0.2rem 0.5rem;
}

.component .sub-header {
}
.component .sub-header .name {
}

.component .sub-element {
  
  margin: 3rem 0 0 0;
}

.three-margin-top {
  margin: 3rem 0 0 0;
}
.example-hr-space {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.width-20 {
  width: 20%;
}

.width-60 {
  width: 60%;
}

.width-80 {
  width: 80%;
}
.height-300px {
  height: 300px;
}

.component .sub-element .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.code-example {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: scroll;
position: relative;
width: 90%;

}

.code-example .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  background-color: rgba(0, 0, 0, 0.25);
  height: 30px;
  width:120px;
  padding: 0.3rem 0.5rem;
}

.code-example .content {
  margin-top: 30px;
  padding: 1rem;
  width: 100%;
  margin-left: -150px;
}
.app-navbar {
  display: none;

}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.8;
  left: 0;
  top: 0;
  z-index: 100;
}
@media only screen and (min-width: 501px) {
  .sidebar.open-width {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 500px) {
  /* .sidebar {
    display: none;
  } */
  .route-comp {
    width: 95%;
    left: 0;
    margin: 0 0.5rem;
    overflow: hidden;
  }
  .app-navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    z-index: 6000;

    background-color: #1b1c1d;
  }
  .component {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 4rem;
  }
  .width-20 {
    width: 100%;
  }.code-example .content {
    
    margin-left: 10px;
  }

  .width-60 {
    width: 100%;
  }

  .width-80 {
    width: 100%;
  }
  .component .sub-element {
    margin: 3rem 0 0 0;
  }
  .main {
    display: block;
  }
  .content {
    width: 100%;
    position: static;
  }
}
